.header-container {
    background-color: #4e7690;
    height: 3rem;
    width: 100%;
    /* position: fixed;
    top: 0;
    left: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-icon {
    width: 3.875rem;
    height: 1.875rem;
    margin-right: 5px;
  }
  
  .header-text {
    color: white;
    margin: 0;
  }
  